.vscode/
.xmake/
build/
doc/
vsxmake2022/
dockerfile/
docker/*
!docker/vmpx-wine/
docker/vmpx-wine/*
!docker/vmpx-wine/Dockerfile
!docker/vmpx-wine/entrypoint.sh
.git/
.dockerignore
LICENSE
README.md
README*.md